html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(35deg, #fdff02, #51a203);
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body.sp{
    background: radial-gradient(#2c740287,#2c7402);
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-wrapper{
    max-width: 82rem;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 1280px){
    .main-wrapper{
        zoom: .8;
    }
}

.main-wrapper.-officers{
    height: 100vh;
    text-align: left;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .title{
    font-size: 2.8em;
    text-align: center;
    letter-spacing: 7px;
    line-height: 1.7em;
}

.header .logo{
    height: 150px;
}

.header .header-banner{
    width: 400px;
}

.line{
    width: 100%;
    height: 20px;
    background: #690406;
}


/* MENU */

.menu{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
    margin-top: 40px;
}

.menu li{
    background: #fff;
    padding: 10px 18px;
}

.menu li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/* content */

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.content .enter .title{
    font-size: 2.4em;
    margin-left: 41px;
    margin-bottom: -25px;
}

.content .enter img{
    max-width: 100%;
}

.content .programme img{
    max-width: 100%;
}

/* OFFICERS */

.officers-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.card{
    background: #fff;
}

.card.-committtee{
    width: 100%;
}

.card-header{
    background: #008036;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2em;
}

.card-body{
    display: flex;
    width: 100%;
    font-size: .8em;
    font-weight: bold;
}

.card-body .left{
    background: #d1d9ac;
    width: 40%;
    padding: 21px 32px;
}

.card-body .left ul li{
    margin-bottom: 16px;
}

.card-body .left ul li:nth-child(6){
    margin-bottom: 60px;
}

.card-body.-committtee .left ul li:nth-child(6){
    margin-bottom: 16px;
}

.card-body .right{
    background: #e6eddd;
    width: 100%;
    padding: 21px 32px;
}

.card-body .right ul li{
    margin-bottom: 16px;
}

/* speakers */

.speaker-title{
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 2em;
    margin: 18px 0;
}

.speakers{
    width: 80%;
}

/* SPONSORS */

.sponsors .day1{
    font-weight: bold;
    color: #fff;
    font-size: 2em;
    margin: 10px 0;
}

.sponsors .day1.-two{
    margin-top: 32px;
}

.sponsors .main-content{
    background: #ebf1e7;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 2em;
}

.sponsors .footer{
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    background: #ebf1e7;
    padding: 11px 0;
    text-transform: uppercase;
    color: #d00505;
}

/* major */
.major{
    text-align: center;
    padding: 28px 0 28px 39px;
}

.major .name{
    margin-bottom: 25px;
    font-weight: bold;
    font-style: italic;
    font-size: 3.2em;
    margin-top: 83px;
}

.major .sp1{
    max-width: 100%;
    margin: 12px 0;
}

.major .qr{
    display: flex;
    gap: 2em;
    margin-top: 21px;
}

.major .qr .head{
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0;
}

.major .qr img{
    width: 105px;
    height: 105px;
    object-fit: cover;
    object-position: 0 0;
}

.major .qr .ins{
    font-size: .8em;
}

.major .qr .ins span{
    font-weight: bold;
    font-size: 1.3em;
    color: #d00303;
}

/* minor */

.minor{
    text-align: left;
    padding: 28px 39px 28px 0;
}

.minor .name{
    margin-bottom: 25px;
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
}

.minor .qr{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1em;
}

.minor .qr.-bottom{
    grid-template-columns: repeat(4,1fr);
    margin-top: 31px;
}

.minor .qr div{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.minor .qr div .logo{
    width: 100px;
}

.minor .qr div .qrcode{
    margin: 10px 0;
    width: 105px;
    height: 105px;
    object-fit: cover;
    object-position: 0 0;
}

.minor .qr .ins{
    font-size: .8em;
}

.minor .qr .ins span{
    font-weight: bold;
    font-size: 1.3em;
    color: #d00303;
}